{% extends 'sb-admin.html.twig' %}

			{% block title %}Dashboard - Customer - mySupport
			{% endblock %}
                    
                    {% block title_main %}
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Customer</li>
                        <li class="breadcrumb-item active">{{ app.user.email }}</li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    {% endblock %}

                    {#{% block card_main %}{% endblock %}

                    {% block chart_main %}{% endblock %}#}
{% block body %}

		{# Navbar #}
        {% block navbar %}
		    {% include "shared/sb-admin/_customer_navbar.html.twig" %}
        {% endblock %}

                {% block side_nav %}
                    {% include "shared/sb-admin/_customer_sidenav.html.twig" %}
                {% endblock %}

                    {% block table_main %}
                    {#{% include "shared/sb-admin/_table.html.twig" %}#}
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Entity Asks
                            {#<button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                            class="btn btn-primary">Print</button>#}
                            <input type="button" class="btn btn-primary" value="Print" onclick="window.print()">
                            <button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                            class="btn btn-primary">New</button>
                        </div>

                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th scope="col">Identify</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Parent</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">Identify</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Parent</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {#{ i=0 }#}
                                    {#% for ask in asks %#}
                                    {#% if i is pair %#}
                                    <tr class="table-primary">
                                    {#% else %#}
                                    <tr class="table-secondary">
                                    {#% endif %#}
                                        <th scope="row">Primary</th>
                                        {#<td>{{categorypost.id}}</td>
                                        <td>{{categorypost.name}}</td>
                                        <td>{{categorypost.slug}}</td>
                                        <td>{{categorypost.parent}}</td>#}
                                       <td>
                                            futur data
                                            {#<button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                                                class="btn btn-primary">Detail</button>#}
                                            {#<a href="{{ path('administrator_categorypost_detail', {id: categorypost.id})}}" 
                                                class="btn btn-primary">Detail</a>#}
                                            {#<button type="button" onclick="window.location.href='../darkly/technician_model.html';"
                                                class="btn btn-primary">Update</button>#}
                                            {#<a href="{{ path('administrator_categorypost_update', {id: categorypost.id})}}" 
                                                class="btn btn-primary">Update</a>#}
                                        </td>
                                    </tr>
                                    {#{ i++ }#}
                                    {#{% endfor %}#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endblock %}
{% endblock %}
                    {% block footer_js_comp %}
                    <script>
						{% include "shared/sb-admin/dashboard/js/_days_chart.js" %}
						{% include "shared/sb-admin/dashboard/js/_months_chart.js" %}
                    </script>
                    {% endblock %}


