{% extends 'sb-admin.html.twig' %}

			{% block title %}{{categorypost.parentpost}} - {{categorypost.name}} - Categoryposts - Administrator - mySupport
			{% endblock %}
                    
                    {% block title_main %}
                    <h1 class="mt-4">Entity Categoryposts / {{categorypost.parentpost}} / {{categorypost.name}}</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Administrator</li>
                        <li class="breadcrumb-item active">Entity Administration</li>
                        <li class="breadcrumb-item active">Categoryposts</li>
                        <li class="breadcrumb-item active">{{categorypost.parentpost}}</li>
                        <li class="breadcrumb-item active">{{categorypost.name}}</li>
                    </ol>
                    {% endblock %}

                    {% block card_main %}{% endblock %}

                    {% block chart_main %}{% endblock %}

                    {% block table_main %}
                    {#{% include "shared/sb-admin/_table.html.twig" %}#}

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Entity Categoryposts / {{categorypost.parentpost}} / {{categorypost.name}}
                            {#<button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                            class="btn btn-primary">Print</button>#}
                            <input type="button" class="btn btn-primary" value="Print" onclick="window.print()">
                            <a href="{{ path('administrator_categorypost')}}" 
                            class="btn btn-primary">List</a>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th scope="col">Attribut</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">Attribut</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr class="table-primary">
                                        <!--<th scope="row">Primary</th>-->
                                        <td>Identity</td>
                                        <td>{{categorypost.id}}</td>
                                    </tr>
                                    <tr class="table-secondary">
                                        <!--<th scope="row">Primary</th>-->
                                        <td>Name</td>
                                        <td>{{categorypost.name}}</td>
                                    </tr>
                                    <tr class="table-primary">
                                        <!--<th scope="row">Primary</th>-->
                                        <td>Slug</td>
                                        <td>{{categorypost.slug}}</td>
                                    </tr>
                                    <tr class="table-secondary">
                                        <!--<th scope="row">Primary</th>-->
                                        <td>Parent category</td>
                                        <td>{{categorypost.parentpost}}</td> {# have a problem to resolve : add method __toString in Entity Categorypost #}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endblock %}

{% block body %}
{% endblock %}
