{% extends 'sb-admin.html.twig' %}

			{% block title %}Categoryposts - Administrator - mySupport
			{% endblock %}
                    
                    {% block title_main %}
                    <h1 class="mt-4">Entity Categoryposts</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Administrator</li>
                        <li class="breadcrumb-item active">Entity Administration</li>
                        <li class="breadcrumb-item active">Categoryposts</li>
                    </ol>
                    {% endblock %}

                    {% block card_main %}{% endblock %}

                    {% block chart_main %}{% endblock %}

                    {% block table_main %}
                    {#{% include "shared/sb-admin/_table.html.twig" %}#}
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Entity Categoryposts
                            {#<button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                            class="btn btn-primary">Print</button>#}
                            <input type="button" class="btn btn-primary" value="Print" onclick="window.print()">
                            {#<button type="button" onclick="window.location.href={{ path('administrator_categorypost_add')}};"
                            class="btn btn-primary">New</button>#}
                            <a href="{{ path('administrator_categorypost_add')}}" 
                            class="btn btn-primary">New</a>
                        </div>

                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th scope="col">Identify</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Parent</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">Identify</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Parent</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {#{ i=0 }#}
                                    {% for categorypost in categoriespost %}
                                    {#% if i is pair %#}
                                    <tr class="table-primary">
                                    {#% else %#}
                                    {# <tr class="table-secondary"> #}
                                    {#% endif %#}
                                        <!--<th scope="row">Primary</th>-->
                                        <td>{{categorypost.id}}</td>
                                        <td>{{categorypost.name}}</td>
                                        <td>{{categorypost.slug}}</td>
                                        <td>{{categorypost.parentpost}}</td>
                                       <td>
                                            {#<button type="button" onclick="window.location.href='../darkly/subscriber_model.html';"
                                                class="btn btn-primary">Detail</button>#}
                                            <a href="{{ path('administrator_categorypost_detail', {id: categorypost.id})}}" 
                                                class="btn btn-primary">Detail</a>
                                            <a href="{{ path('administrator_categorypost_update', {id: categorypost.id})}}" 
                                                class="btn btn-primary">Update</a>
                                            {#<button type="button" onclick="window.location.href='../darkly/technician_model.html';"
                                                class="btn btn-primary">Update</button>#}
                                            {#<a href="{{ path('administrator_categorypost_update', {id: categorypost.id})}}" 
                                                class="btn btn-primary">Update</a>#}
                                        </td>
                                    </tr>
                                    {#{ i++ }#}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endblock %}

{% block body %}
{% endblock %}
