    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}MySupport - Team engagement{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('/clean/assets/favicon.ico') }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="{{ asset('/clean/js/all.js') }}" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="{{ asset('/clean/fonts/lora_italic.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('/clean/fonts/open_sans_italic.css') }}" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('/clean/css/styles.css') }}" rel="stylesheet" />
    </head>