
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{ path('home') }}"><img width="23%"
                    src="{{ asset('bipMapShortLogo.png') }}"> mySupport</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ path('administrator_posts_list') }}">Administrator</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ asset('sb-admin/customer_model.html') }}">Customer</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ asset('darkly/helps_technician_model.html') }}">Technician</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ asset('darkly/subscriber_model.html') }}">Subscriber</a></li>
                    {#<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ asset('clean/index.html') }}">Home</a></li>#}
                    {#<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ asset('clean/about.html') }}">About</a></li>#}
                    {#<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ asset('clean/post.html') }}">Sample Post</a></li>#}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ asset('clean/contact.html') }}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ asset('sb-admin/steps.html') }}">Register</a></li>
                    {#<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ asset('sb-admin/password.html') }}">Password</a></li>#}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="{{ asset('sb-admin/login.html') }}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>